:root {

    --bg-primary: #0E1015;
    --bg-secondary: #26354A;
    --btn-bg: rgb(20, 187, 20);
 
}

:root {

    --color-border: rgb(57, 115, 148);
}

:root {

    --font-secondary: #86d7ff;
}


/* font color */
:root {

    --font-color-primary: #7DA0CA;
    --font-color-secondary: #C1E8FF;
    --font-color: #5483B3;
}