
/* text colors */
:root {
    
 --primary-text: #111;
 --secondary-text: #333;
 --text-2: #767676;
 --white-primary: #fff;
 --white-secondary: #DDD;
}

/* background */
:root {

    --primary-bg: #232F3E;
    --secondary-bg: #37475A;
    --secondary-bg-2: #465364;
    --bg-4: #e9e9e9;
}

/* border */
:root {

    --border-primary: #DDD;
    --border-2: #c40000;
}

